@model Project3_InteligentaArtificiala_.Models.NeuralNetworkModel
@using Microsoft.AspNetCore.Mvc.Rendering
@inject IJsonHelper Json

<style>
    .layer-header {
        font-weight: bold;
        font-size: 18px;
    }

    .neuron-button {
        margin-right: 10px;
    }
</style>

<h2>NEURONAL NETWORK</h2>

<ul>
    @foreach (var layer in Model.Layers)
    {
        <li>
            @if (Model.Layers.IndexOf(layer) == 0 )
            {
                 <span class="layer-header">Input Layer</span>
                 <ul>
                @foreach (var neuron in layer.Neurons)
                {
                     <li style="display: inline;">
                        <button type="button" class="btn btn-primary neuron-button"
                            onclick="showNeuronDetails('@neuron.x', @Json.Serialize(neuron.weights))">
                                Neuron @layer.Neurons.IndexOf(neuron)
                        </button>
                    </li>
                }
                </ul>
            }
            else if (Model.Layers.IndexOf(layer) == Model.Layers.Count-1)
            {
                <span class="layer-header">Output Layer</span>
                <ul>
                    @foreach (var neuron in layer.Neurons)
                    {
                        <li style="display: inline;">
                            <button type="button" class="btn btn-primary neuron-button"
                        onclick="showNeuronDetails('@neuron.x', @Json.Serialize(neuron.weights))">
                                Neuron @layer.Neurons.IndexOf(neuron)
                            </button>
                        </li>
                    }
                </ul>
            }
            else{
            <span class="layer-header">Layer @Model.Layers.IndexOf(layer)</span>
            <ul>
                @foreach (var neuron in layer.Neurons)
                {
                     <li style="display: inline;">
                        <button type="button" class="btn btn-primary neuron-button"
                            onclick="showNeuronDetails('@neuron.x', @Json.Serialize(neuron.weights))">
                                Neuron @layer.Neurons.IndexOf(neuron)
                        </button>
                    </li>
                }

            </ul>
            }
        </li>
    }
</ul>


<button type="button" class="btn btn-primary" id="showErrorsButton">
    Show Errors
</button>

<div id="errorsContainer"></div>

<script>
    function showNeuronDetails(inputValue, weights) {
    var parsedWeights = weights.map(function(weight) {
        if (typeof weight === 'string') {
            return parseFloat(weight.replace(',', '.')); 
        }
        return weight;
    });

    var weightsString = parsedWeights.join(', ');
    alert('Input (x): ' + inputValue + '\nWeights (w): ' + weightsString);
}
</script>

<script>
    document.getElementById('showErrorsButton').addEventListener('click', function () {
        var errorsList = @Html.Raw(Json.Serialize(Model.Errors));
        var errorsHtml = '<ul>';
        for (var i = 0; i < errorsList.length; i++) {
            errorsHtml += '<li>' + (i + 1) + '. Error: ' + errorsList[i] + '</li>';
        }
        errorsHtml += '</ul>';
        document.getElementById('errorsContainer').innerHTML = errorsHtml;
    });
</script>


